4/18, 12:30p - 3:00p, Dinesh, Pravat & Abhi, 2.5 hours
Drive Order and Time Length:
Abhi: 30 minutes,
Dinesh: 30 minutes,
Pravat: 30 minutes,
Abhi: 30 minutes,
Dinesh: 30 minutes

4/19, 11:30a - 2:30p, Dinesh, Pravat & Abhi, 3 hours
Drive Order and Time Length:
Dinesh: 30 minutes,
Abhi: 30 minutes,
Pravat: 30 minute,
Dinesh: 30 minutes,
Abhi: 30 minutes,
Pravat: 30 minutes

4/20, 12:00p - 2.00, Dinesh, Pravat & Abhi, 2 hours
Drive Order and Time Length:
Dinesh: 30 minutes,
Abhi: 30 minutes,
Pravat: 1 hour

4/21, 12:45p - 4:15 Dinesh, Pravat & Abhi, 4 hours 30 min
Drive Order and Time Length:
Abhi: 1 hour,
Dinesh: 30 minutes,
Pravat: 30 minutes,
Abhi: 30 minutes,
Dinesh: 1 hour,
Pravat: 1 hour

4/22, 1:15p - 6:45p, Dinesh, Pravat & Abhi, 5 hours 30 min
Drive Order and Time Length:
Abhi: 30 minutes,
Dinesh: 30 minutes,
Pravat: 30 minutes,
Abhi: 30 minutes,
Dinesh: 30 minutes,
Pravat: 30 minutes,
Abhi: 30 minutes,
Dinesh: 30 minutes,
Pravat: 30 minutes,
Abhi: 20 minutes,
Dinesh: 10 minutes,
Pravat: 30 minutes
